
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.header__ {
  &main {
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    background-color: #d39329;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &logotipo {
    display: flex;
    align-items: center;
    
    .logo-container {
      display: flex;
      align-items: center;
      img {
        
        margin-right: 10px;
      }

      &__title {
        color: black;
        margin: 0;
        text-decoration: none;
      }
    }
  }

  &nav {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      list-style: none;

      li {
        a {
          font-weight: 600;
          padding-right: 30px;
          color: black;
        }
      }
    }
  


    @media screen and (max-width: 768px) {
      &__links {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

  

.footer {
    background-color: #d39329;
  }
  
  .container {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-items {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  
    &.ma-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin: 0;
          padding: 0;
  
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
  
      h4 {
        align-self: center;
        margin-bottom: 10px;
      }
    }
  }
  





